In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('shipment.csv')
device =df.groupby('Device')

In [60]:
uniqueDevices = df.Device.unique()

In [70]:
print(pd.DataFrame(df.groupby('Device')["Quantity"].sum()))

          Quantity
Device
8069ACA      15000
8069ACV       2999
8076ACA        500
8076ACV      10000
8112AW       59337
8130AWB    1369343
8130AWL    2470839
8131AW1      23182
8132AM1    2581085
8132AM2     199995
8132AM3      28349
8134AM1    3591359
8134AM2     893411
8137AM2     493670
8137AM3    1623962
8137AM4    2372996
8142AM4    5520322
8142AM5     840024
8142AM6    2087960
8142AM7    7371477
8143AM2     855280
8143AM3       -468
8143AM4    1356180
8143AM5    6226388
8143AM6    1780971
8146AM1    5348292
8146AM2     207140
8149AM1   29185885
8149AM2      10734
8149AM3     556180
...            ...
8176AL2       5024
8177AM1         40
8177AM2       4575
8178AL1       7901
8178AL2        232
8179AM1        230
A012AT1    2249741
A012AT2    5718728
A015AT1    2307091
A015AT2    4282250
A017AT2    3566951
A017AT3     118097
A017AT4    1207247
N502AY1    1757954
N502AY2    1489678
N502AY3     662089
N503AY1    4911725
N503AY2     391178
N505AY1    -146118
N507AP1    4525299
N507AP2     125277
N507AP3      38818
N507AP4     101743
N507AP5      60301
N508AP1       7879
N508AP2      33420
WN507AP1     64161
WN507AP4     18106
WN508AP1    892499
WN508AP2    487059

[90 rows x 1 columns]

In [ ]:
newDf

In [67]:
newDf

      Device  Quantity
0    8137AM4      3356
1    N502AY2       803
2    A012AT2      1440
3    A015AT2      1920
4    8149AM1      1000
5    8146AM1       270
6    8152AM1       448
7    8142AM7       547
8    A017AT2       600
9    8149AM6      1350
10   8134AM1      5000
11   A017AT4      1500
12   8166AM1      2500
13   A015AT1      6000
14   N503AY1      1940
15   8130AWB        65
16   8143AM4      2025
17   8137AM3      2350
18   N502AY1     10835
19   8130AWL     11147
20   8143AM6     11771
21   8142AM5     13800
22   8158AC6     14268
23   8153AM2     10000
24   8160AH1     16956
25   8159AM1     18188
26   8132AM1     12000
27   8142AM6      2000
28   A012AT1       136
29   8143AM2       810
..       ...       ...
60  WN508AP2       537
61   8169AM1      2500
62   N508AP1      8905
63   8132AM3      3500
64   8149AM7      1000
65   8171AM3      5000
66   8076ACV      3500
67   8069ACV      3057
68   N507AP3       135
69   N508AP2       614
70   8171AM4      2025
71   8176AL1     50000
72   8076ACA      4137
73   8158AC3      3602
74  WN507AP1      4985
75   N507AP4        10
76   N507AP5      5487
77   8176AL2     12414
78   8143AM3      2000
79   8178AL1      2970
80   8169AM2      6987
81   8175AM1      8487
82   8157AC1      2202
83  WN507AP4      4000
84   8173AM1      5420
85   8177AM2      7146
86   8178AL2     10420
87   8179AM1     12383
88   8175AM2     12528
89   8177AM1     15420

[90 rows x 2 columns]

In [64]:
newDf

      Device  Quantity
0    8137AM4       NaN
1    N502AY2       NaN
2    A012AT2       NaN
3    A015AT2       NaN
4    8149AM1       NaN
5    8146AM1       NaN
6    8152AM1       NaN
7    8142AM7       NaN
8    A017AT2       NaN
9    8149AM6       NaN
10   8134AM1       NaN
11   A017AT4       NaN
12   8166AM1       NaN
13   A015AT1       NaN
14   N503AY1       NaN
15   8130AWB       NaN
16   8143AM4       NaN
17   8137AM3       NaN
18   N502AY1       NaN
19   8130AWL       NaN
20   8143AM6       NaN
21   8142AM5       NaN
22   8158AC6       NaN
23   8153AM2       NaN
24   8160AH1       NaN
25   8159AM1       NaN
26   8132AM1       NaN
27   8142AM6       NaN
28   A012AT1       NaN
29   8143AM2       NaN
..       ...       ...
60  WN508AP2       NaN
61   8169AM1       NaN
62   N508AP1       NaN
63   8132AM3       NaN
64   8149AM7       NaN
65   8171AM3       NaN
66   8076ACV       NaN
67   8069ACV       NaN
68   N507AP3       NaN
69   N508AP2       NaN
70   8171AM4       NaN
71   8176AL1       NaN
72   8076ACA       NaN
73   8158AC3       NaN
74  WN507AP1       NaN
75   N507AP4       NaN
76   N507AP5       NaN
77   8176AL2       NaN
78   8143AM3       NaN
79   8178AL1       NaN
80   8169AM2       NaN
81   8175AM1       NaN
82   8157AC1       NaN
83  WN507AP4       NaN
84   8173AM1       NaN
85   8177AM2       NaN
86   8178AL2       NaN
87   8179AM1       NaN
88   8175AM2       NaN
89   8177AM1       NaN

[90 rows x 2 columns]